@use '/src/styles/variables.scss' as *;

.item {
    width: 100%;
    border-radius: $border-radius-sm;
    padding: 10px;
    cursor: pointer;
    // transition: 0.2s;

    &.active {
        background-color: $white;
        box-shadow: $shadow-primary;

        .icon {
            background-color: $blue-light;
            color: $white;
        }
    }

    .content {
        display: flex;
        align-items: center;
        gap: $gap-md;
    }

    .icon {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 20px;
        padding: 10px;
        border-radius: $border-radius-sm;
        background-color: $white;
        box-shadow: $shadow-primary;
    }
}