@use "/src/styles/variables.scss" as *;


.wrapper {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .content {
        display: grid;
        grid-template-areas:
            "header header"
            "sidebar main";
        grid-template-columns: 250px 1fr;
        grid-template-rows: $header-h 1fr;
        flex: 1;

        .header {
            grid-area: header;
            height: $header-h;
            position: sticky;
            top: 0;
            z-index: 10;
            background: $blue-bg;
            border-bottom: 1px solid $grey-light;

        }

        .sidebar {
            grid-area: sidebar;
            overflow-y: auto;
            height: calc(100vh - $header-h);
            position: sticky;
            top: $header-h;
            background: $blue-bg;
        }

        .main {
            grid-area: main;
            padding: $padding-y $padding-x;
            // background-color: $blue-bg-secondary;
        }
    }
}