@use "/src/styles/variables.scss" as *;


.wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;


    .content {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
        flex: 1
    }

    .header {
        display: flex;
        justify-content: space-between;
        gap: $gap-md;
        
        @media (max-width: 600px) {
            flex-direction: column;
            gap: 8px;
            align-items: stretch;
        }
    }

    .cases {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: $gap-md;
        overflow-y: auto;
        width: 100%;


        .loadMoreWrapper{
            display: flex;
            justify-content: center;
            align-items: center;

            .loadMoreBtn{
                width: 200px;
            }
        }
    }
}