@use "/src/styles/variables.scss" as *;

.case_item {
    background: $white;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    border-radius: $border-radius-sm;
    padding: $padding-sm;
    display: flex;
    align-items: center;
    gap: $gap-sm;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}


.column {
    flex: 1;
    min-width: 0;
    max-width: 150px;
}

.text {
    display: block;
    width: 100%;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: $blue-dark;
    overflow: hidden;
    font-size: 14px;
}

.details_button_column {
    display: flex;
    justify-content: end;
    align-items: center;
    gap: $gap-sm;
    margin-left: auto;
    .details_button {
        background: $blue-light;
        border: none;
        border-radius: 50%;
        padding: 5px;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        color: $white;
        transition: background-color 0.2s ease;

        &:hover {
            background: $blue-dark;
        }
    }
}