@use '/src/styles/variables.scss' as *;

.additional_info_fields {
  display: flex;
  justify-content: space-between;
  gap: $gap-md;
}

.select_field,
.field {
  width: 250px;
}

.price_field {
  display: flex;
  flex-direction: column;
  gap: $gap-sm;
}
