@use '/src/styles/variables.scss' as *;

.wrapper {
  height: 100%;
  width: 100%;

  .content {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    gap: $gap-md;

    .addUser {
      width: 100%;
    }

    .usersList {
      width: 100%;
      display: flex;
      flex-direction: column;
      height: 100%;
      overflow-y: auto;
    }
  }
}