@use "/src/styles/variables.scss" as *;

.cases {
    grid-area: last_five_closed_cases;
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    gap: $gap-md;

    .header {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .cases_closed {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
        padding: $padding-sm;
    }

    .actions {
        padding: $padding-sm;
        display: flex;
        justify-content: end;
    }
}