@use '../../../../../styles/variables.scss' as *;

.notes {
    width: 100%;
    height: 250px;
    border: 1px solid $grey-light;
    border-radius: $border-radius-sm;
    padding: $padding-sm;
    display: flex;
    gap: $gap-sm;
    

    .addNote {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
    }

    .notesList {
        width: 70%;
        overflow-y: auto;
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
        padding: 0 $padding-sm;

        .emptyList {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;

            p {
                color: $grey;
            }
        }

        .note {
            width: 100%;
            background-color: $blue-bg;
            border-radius: $border-radius-sm;
            padding: $padding-sm;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .info {
                max-width: 90%;

                .description {
                    word-break: break-word;
                    overflow-wrap: break-word;
                }

                .title {
                    font-weight: bold;
                }
            }


            .delete {
                height: 100%;
                color: rgb(144, 1, 1);

                &>svg {
                    cursor: pointer;
                    transition: 0.3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

        }
    }

}