@use "/src/styles/variables.scss" as *;

.caseUser {
    font-size: $font-size-sm;
    padding: 5px 10px;
    border-radius: $border-radius-sm;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #f5f5f5;
    color: #555;

    &.admin {
        cursor: pointer;
    }
}


.content {
    max-height: 400px;
    display: flex;
    flex-direction: column;
    gap: $gap-sm;

    .header {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;

        .title {
            text-align: center;
        }

    }

    .select {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
        padding: $padding-sm;
        overflow-y: auto;
        overflow-x: hidden;

        .select_item {
            width: 250px;
            padding: $padding-sm;
            background-color: $blue-lightest;
            border-radius: $border-radius-sm;
            cursor: pointer;
            transition: 0.2s;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: $blue-lighter;
            }

            &.selected {
                background-color: $grey-light;
            }
        }
    }
}