@use "sass:map";

$breakpoints: (
  xs: 0px,
  sm: 576px,
  md: 768px,
  lg: 992px,
  xl: 1200px,
  xxl: 1400px
);

@mixin breakpointMin($size) {
  $value: map.get($breakpoints, $size);

  @if $value != null {
    @media (min-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$size}` is not defined in `$breakpoints` map.";
  }
}
@mixin breakpointMax($size) {
  $value: map.get($breakpoints, $size);

  @if $value != null {
    @media (max-width: $value) {
      @content;
    }
  } @else {
    @warn "Breakpoint `#{$size}` is not defined in `$breakpoints` map.";
  }
}