$blue-dark: #1E3A8A;
$blue-light: #60A5FA;
$blue-lighter: #93C5FD;
$blue-lightest: #c5e0ff;

$blue-bg: #D9EAFE;


$white: #F7FBFF;
$grey: #8B909D;
$grey-light: #95a0ad55;
$red: #D32F2F;


$border-radius-sm: 5px;
$border-radius-lg: 10px;


$gap-sm: 10px;
$gap-md: 25px;
$gap-lg: 50px;
$gap-xl: 80px;

$margin-md: 20px;

$header-h: 100px;

$padding-y: 30px;
$padding-x: 30px;
$padding-sm: 10px;

$shadow-primary: rgba(149, 157, 165, 0.2) 0px 8px 24px;


$font-size-lg: 24px;
$font-size-md: 20px;
$font-size-sm: 14px;


$header-h: 100px;