@use "/src/styles/variables.scss" as *;

.wrapper {
    padding: $padding-y 0;
    // border-top: 1px solid $grey-light;

    .content {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;
    }
}