@use "/src/styles/variables.scss" as *;

.caseStatus {
    font-size: $font-size-sm;
    padding: 5px 10px;
    border-radius: $border-radius-sm;
    display: flex;
    justify-content: center;
    align-items: center;

    &.waiting {
        background: #f5f5f5;
        color: #555;
    }

    &.closed {
        background: #e3f2fd;
        color: #1e88e5;
    }

    &.in_progress {
        background: #fff3e0;
        color: #fb8c00;
    }

    &.completed {
        background: #e8f5e9;
        color: #43a047;
    }
    &.canceled {
        background: #f5e8e8;
        color: #a04343;
    }

    &.true {
        cursor: pointer;
    }
}


.content {
    display: flex;
    flex-direction: column;
    gap: $gap-sm;

    .header {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;

        .title {
            text-align: center;
        }

    }

    .select {

        display: flex;
        flex-direction: column;
        gap: $gap-sm;

        .select_item {
            width: 250px;
            padding: $padding-sm;
            background-color: $blue-lightest;
            border-radius: $border-radius-sm;
            cursor: pointer;
            transition: 0.2s;
            display: flex;
            justify-content: center;

            &:hover {
                background-color: $blue-lighter;
            }


            &.selected {
                background-color: $grey-light;
            }
        }
    }
}