@use "/src/styles/variables.scss" as *;

.wrapper {
    display: grid;
    grid-template-columns: minmax(0, 1fr) minmax(0, 1fr);
    grid-template-rows: minmax(300px, auto) minmax(300px, auto);
    grid-template-areas:
        "info stats"
        "yearly_cases yearly_cases"
        "current_cases current_cases"
        "last_five_closed_cases last_five_closed_cases";
    gap: $gap-md;
    align-items: stretch;
}