@use '/src/styles/variables.scss' as *;


.actions {
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    padding: 4px;
}

.no_cases {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    font-size: $font-size-lg;
    color: $grey;
}

.menu {
    height: 100%;

    .menu_icon_wrapper {
        transition: 0.3s;
        border-radius: $border-radius-sm $border-radius-sm 0 0;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px;

        &.menu_icon_wrapper_text {
            font-size: 12px;
            color: $grey;
        }
    }

    .menu_icon {
        padding: 0 10px;
        color: $blue-dark;
        font-size: 20px;
    }

    .menu_item {
        display: flex;
        align-items: center;
        gap: $gap-md;
        &:focus-visible {
            background-color: transparent !important;
        }
    }
}


.status {
    font-size: $font-size-sm;
    padding: 5px 10px;
    border-radius: $border-radius-sm;
}

.closed {
    background: #e3f2fd;
    color: #1e88e5;
}

.canceled {
    background: #f5e8e8;
    color: #a04343;
}