@use "/src/styles/variables.scss" as *;

.wrapper {
    width: 100%;
    height: 100vh;

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap-lg;

        .logo {
            width: 100px;

            &>img {
                width: 100%;
            }
        }

        .form_wrapper {
            width: 500px;
            background-color: $white;
            border-radius: $border-radius-lg;
            padding: 30px 20px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: $gap-lg;

            .form_header {
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 70%;
                &>h2 {
                    font-weight: 300;
                    font-size: 24px;
                    text-align: center;
                }

                &>p {
                    color: $grey;
                    text-align: center;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $gap-md;
                width: 70%;

                .field {
                    border-radius: 50px;
                    width: 300px;
                }

                .btn {
                    width: 150px;
                }
            }
        }
    }
}