@use '/src/styles/variables.scss' as *;

.wrapper {
    height: 100%;
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
        gap: $gap-md;
        height: 100%;
        
        .users {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
            gap: $gap-md;
            max-width: 100%;
            
            @media (min-width: 1024px) {
                grid-template-columns: repeat(3, 1fr);
            }
            
            @media (min-width: 768px) and (max-width: 1023px) {
                grid-template-columns: repeat(2, 1fr);
            }
            
            @media (max-width: 767px) {
                grid-template-columns: 1fr;
            }
        }
    }
}