@use '/src/styles/variables.scss' as *;

.date_search {
    display: flex;
    gap: $gap-sm;
    align-items: center;
    // flex-wrap: wrap;
    
    @media (max-width: 600px) {
        flex-direction: column;
        align-items: stretch;
        gap: $gap-sm;
    }
}

.clearBtn {
    border-radius: 50%;
    transition: all 0.2s ease-in-out;
    
    @media (max-width: 600px) {
        margin-left: 0;
        margin-top: $gap-sm;
        align-self: flex-start;
    }
}