@use '../../../../../../../styles/variables.scss' as *;

.dataGridItem {
    width: 100%;
    border: 1px solid $grey-light;
    display: flex;
    padding: $padding-sm;
    border-radius: $border-radius-sm;



    .label {
        font-weight: bold;
        width: 30%;
        display: flex;
        align-items: center;
    }

    .value {
        width: 70%;
        border-left: 1px solid $grey-light;
        padding-left: 25px;

        input {
            width: 100%;
            border: none;
            outline: none;
        }
    } 

    .disabled {
        cursor: not-allowed;
    } 
}