@use "/src/styles/variables.scss" as *;

.wrapper {
    width: 100%;
    height: 100vh;

    .content {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: $gap-lg;

        .logo {
            width: 100px;

            & > img {
                width: 100%;
            }
        }

        .form_wrapper {
            min-width: 500px;
            background-color: $white;
            border-radius: $border-radius-lg;
            padding: 50px 20px;
            display: flex;
            flex-direction: column;
            gap: $gap-lg;

            .form_header {
                display: flex;
                flex-direction: column;
                align-items: center;

                & > h2 {
                    width: 70%;
                    text-align: center;
                    font-weight: 300;
                    font-size: 24px;
                }

                & > p {
                    color: $grey;
                }
            }

            .form {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: $gap-md;

                .field {
                    width: 300px;
                    border-radius: 50px;
                }

                .btn {
                    width: 150px;
                }

                .error_helper {
                    color: $red;
                }
            }
        }
    }
}
