@use "/src/styles/variables.scss" as *;

.wrapper {
    width: 100%;

    .content {
        display: flex;
        flex-direction: column;
        gap: $gap-sm;


        .form {
            display: flex;
            gap: $gap-md;
            align-items: center;
            flex-wrap: wrap;

            .field {
                flex: 1;
                min-width: 200px;
                height: 40px;
            }

            .btn {
                flex-shrink: 0;
                width: 100px;
                height: 40px;
            }
        }
    }
}